.container{
    width: 50%;
    margin: 0 auto;
}
body{
  background: rgba(0,0,0,0.9);
}
.location{
	left:45%;
	color:#ccc;
	font-size:20px;
}
.al{
	//width:300px;
    //height:200px;
    position:absolute;
    left:50%;
    top:60%;
    margin:-100px 0 0 -150px;
	//border: 4px dashed #fff;
}
.json{
	color:#ccc;
	position: relative;
	border: 4px dashed #fff;
}
.upload-area{
    position: absolute;
	top: 25%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	width: 500px;
	height: 200px;
	border: 4px dashed #fff;
	background-color: #4E4E4E
}

.upload-area:hover{
    cursor: pointer;
}

 h2{
  width: 100%;
  height: 100%;
  text-align: center;
  top:10px;
  line-height: 50px;
  color: #ccc;
  font-size:12px
  font-family: Arial;
}

#file{
    display: none;
}

/* Thumbnail */
.thumbnail{
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 2px solid lightgray;
    border-radius: 3px;
    float: left;
    margin: 5px;
}

.size{
    font-size:12px;
}